:root {
  --whidd: rgba(255, 253, 253, 0.55);
  --gray-col: rgba(44, 53, 61, 0.2);
  --like: #fd3b41;
  --yellow: rgba(255, 165, 55, 0.55);
  --back-col: #1e252b;
  --input: #283036;
  --orange-col: #ff6e30;
  --white-10: rgba(255, 255, 255, 0.1);
  --white-15: rgba(255, 255, 255, 0.15);
  --white-38: rgba(255, 255, 255, 0.38);
  --white-55: rgba(255, 255, 255, 0.55);
  --white-78: rgba(255, 255, 255, 0.78);
  --white-80: rgba(255, 255, 255, 0.8);
  --white-90: rgba(255, 255, 255, 0.9);
  --white-color: #ffffff;
  --two-white: #fdf5ff;
}
